body {
    margin: 0;
    padding: 0;
    background-image: url(star_background.JPG);
}

#yourBeautifulFace {
    width: 100vw;
    height: 100vh;
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
